build/
*.so
*.o
*.d
compile_commands.json
.cache/
vendor/
.phpunit.cache/
.phpunit.result.cache
.phpstan.cache/
.php-cs-fixer.cache
.phpcs.cache
.phplint.cache
phpunit-junit.xml
gtk4-asan.so
gtk4-cov.so
coverage/
*.gcov
gen/PHP-Parser-*/
gen/PHP-Parser-install-lock
# phpize build artifacts
/.libs/
/modules/
/src/**/.libs/
*.lo
*.la
*.dep
/configure
/configure.ac
/config.h
/config.h.in*
/config.log
/config.nice
/config.status
/config.guess
/config.sub
/Makefile
/Makefile.fragments
/Makefile.global
/Makefile.objects
/acinclude.m4
/aclocal.m4
/autom4te.cache/
/build/
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/run-tests.php
/tmp-php.ini
